@use '/src/sass/base/variables.scss' as *;

.features {
    position: relative;
    padding-top: 89px;
    &__title {
        text-align: center;
        .title-simple-text {
            opacity: 0.6;
        }
    }
    &__columns {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        row-gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }
    &__column {
        display: grid;
        grid-template-areas: 
            "header header"
            "content content";
        gap: 15px;
        &-visual {
            grid-area: header;
            display: flex;
            align-items: center;
            gap: 30px;
        }
        &-content {
            grid-area: content;
            max-width: 350px;
        }
    }

    .title-card {
        font-size: 20px;
        text-align: left;
        max-width: 180px;
    }
    .title-simple-text{
        opacity: 0.6;
    }
    .coins {
        position: absolute;
    img {
        animation: rotateSlow 20s linear infinite;
    }
    &.bitcoin {
        top: 18%;
        left: 70%;
    }
}
}

@media screen and (min-width: 425px) {
    .features {
    .coins {
    &.bitcoin {
        top: 15%;
    }
}
    }
}

@media screen and (min-width: 768px) {
    .features {
        &__columns {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            gap: 30px;
        }
    }   
}

@media screen and (min-width: 1024px) {
    .features {
        &__columns {
            grid-template-columns: repeat(3, 250px);
            grid-template-rows: repeat(2, auto);
        }
    }   
}

@media screen and (min-width: 1440px) {
    .features {
        &__columns {
            grid-template-columns: repeat(3, 350px);
            grid-template-rows: repeat(2, auto);
        }
    }   
}