@use '/src/sass/base/variables.scss'as *;
.generation {
    position: relative;
    background: url('/src/img/bg/Background.png') center center / cover no-repeat;
    padding-bottom: 109px;
    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 27px;
        .timer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            border-radius: 64px;
            max-width: 350px;
            padding: 10px 24px;
            backdrop-filter: blur(15px);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
            margin-top: 27px;
            h5 {
                line-height: 0
            }
            span {
                font-size: 10px;
            }
            &__block {
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                gap: 15px;
            }
            &__deviver {
                margin-top: -10px;
            }
        }
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 40px;
    }
    &__accept {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
        &-title {
            text-align: center;
        }
        &-coins {
            display: flex;
            flex-wrap: wrap;
            justify-items: center;
            justify-content: center;
            gap: 30px;
            margin-top: 27px;
            .accept__column {
                display: flex;
                align-items: center;
                gap: 12px;
                &-text {
                    font-weight: 400;
                    font-size: 20px;
                    color: $white;
                }
            }
        }
    }
    .coins {
        position: absolute;
    img {
        animation: rotateSlow 20s linear infinite;
    }
    &.bitcoin {
        top: 10%;
        left: -1%;
        width: 73px;
    }
    &.letecoin {
        left: 79%;
        top: 14%;
    }
    &.monero {
        left: 85%;
        top: 74%;
    }
    &.etherium {
        top: 85%;
    }
}
}

@media screen and (min-width: 768px) {
    .generation {
        .coins {
            position: absolute;
            &.bitcoin {
                top: 8%;
                left: 15%;
                width: 100px;
            }
            &.monero {
                left: 85%;
                top: 77%;
            }
            &.etherium {
                top: 85%;
            }
        }
    }
}