@use '/src/sass/base/variables.scss'as *;

.market {
    padding-top: 91px;
    &__titles {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .title-simple-text {
        opacity: 0.6;
    }
    &__columns {
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
        gap: 30px;
    }
    &__column {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        text-align: center;
        gap: 15px;
        .column {
            &__information {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, auto);
                gap: 10px;
            }
            &__img {
                justify-self: center;
                img {
                    object-fit: cover;
                }
            }
            &__link a{
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: $red;
            }
        }
    }
    &__btn {
        padding-top: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            width: 280px;
            font-weight: 700;
            font-size: 16px;
            padding: 5px;
        }
    }
}


@media screen and (min-width: 768px) {
    .market {
        &__columns {
            margin-top: 80px;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, 1fr);
            gap: 30px;
        }
        &__column {
            grid-template-columns: repeat(2, auto);
            // max-width: 540px;
            align-items: center;
            text-align: left;
            // max-height: 160px;
            gap: 12px;
            .title-card {
                font-size: 24px;
            }
        }
    }
}