@use '/src/sass/base/variables.scss'as *;
.users {
    padding-top: 91px;
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    &__slider-wrapper {
        overflow: hidden;
        position: relative;
    }
    .title-simple-text {
        opacity: 0.6;
    }
    .swiper {
        &-slide {
            border: 2px solid $red;
            border-radius: 12px;
            max-width: 350px;
            max-height: 450px;
            background: transparent;
            padding: 67px 37px;
            &:hover {
                box-shadow: 0 0 40px 0 rgba(239, 68, 59, 0.4);
            }
        }
        &-columns {
            display: grid;
            justify-content: center;
            justify-items: center;
            grid-template-columns: auto;
            grid-template-rows: repeat(3, 105px);
        }
        &-user {
            display: grid;
            justify-items: center;
            text-align: center;
            gap: 5px;
        }
        &-comment {
            text-align: center;
        }
    }
}